.hero-section {
    
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-bottom: 80px;
    padding: 0 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
    .hero-section {
        height: auto;
        /* Ensure it doesn't overflow */
        margin-top: 60px;
        justify-content: center;
       

    }
}


.hero-image {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%) contrast(115%) sepia(15%) saturate(120%) hue-rotate(0deg);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .hero-image {
        height: auto;
        /* Allow the height to adjust dynamically */

    }
}

/* Adjustments for very small screens (e.g., phones) */
@media (max-width: 480px) {
    .hero-image {
        height: auto;
        padding-top: 45px;
        border-radius: 12px;
        
        /* Ensure it doesn't overflow */

    }
}

.hero-text {
    position: absolute;
    bottom: 6%;
    left: 10%;
    color: #d4a84f;
    background: rgba(0, 0, 0, 0.461);
    padding: 1rem 1.5rem;
    border-radius: 12px;
    max-width: 80%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    
}

@media (max-width: 768px) {
    .hero-text {
        bottom: 10%;
        /* Adjust position for smaller screens */
        left: 5%;
        /* Reduce left margin */
        max-width: 90%;
        /* Allow more width for text */
        font-size: 1.4rem;
    }
}




@media (max-width: 480px) {
    .hero-text {
        bottom: 0%;
        /* Further adjust position */
        left: 5%;
        /* Keep consistent left margin */
        max-width: 95%;
        /* Allow full width for text */
        padding: 0.5rem 0.8rem;
        /* Further reduce padding */
        font-size: 1.4rem;
        /* Adjust font size for readability */
    }
.hero-text h1 {

    
    /* Responsive font size */
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.hero-text h2 {
    font-weight: 300;
    font-size: .88rem;
    /* Responsive font size for paragraph */
    line-height: 1.5;
}
}